# ===== Ignore everything in CEF tutorial =====
CEF TUTORIAL/**

# ===== Re-allow directory traversal =====
!CEF TUTORIAL/**/
!CEF TUTORIAL/**/tests/
!CEF TUTORIAL/**/tests/cefsimple/

# ===== Re-allow cefsimple source files =====
!CEF TUTORIAL/**/tests/cefsimple/**/*.cc
!CEF TUTORIAL/**/tests/cefsimple/**/*.h



# Visual Studio
.vs/
*.vcxproj*
*.sln

# OS junk
Thumbs.db
