#Important factor-out components to make sure build files and venv files aren't sent into the repo.
# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# C++ Build Artifacts
build/
bin/
obj/
*.so
*.a
*.la
*.o
*.out

# IDEs and System
.vscode/
.idea/
.DS_Store
*.swp

# Qt specific
.qt/
CMakeLists.txt.user